@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TWKLausanne;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/TWKLausanne/TWKLausanne-300.woff') format('woff');
}

@font-face {
  font-family: TWKLausanne;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/TWKLausanne/TWKLausanne-400.woff') format('woff');
}

@font-face {
  font-family: TWKLausanne;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/TWKLausanne/TWKLausanne-500.woff') format('woff');
}

@font-face {
  font-family: TWKLausanne;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/TWKLausanne/TWKLausanne-600.woff') format('woff');
}

@layer base {
  :root {
    --transparent: rgba(0, 0, 0, 0);
    --base: #000000;
    --background: #000000;
    --foreground: #d2d5da;
    --link: #ffffff;
    --radius: 0.5rem;

    --primary-50: #fafafa;
    --primary-100: #f5f5f5;
    --primary-200: #e5e5e5;
    --primary-300: #d4d4d4;
    --primary-400: #a3a3a3;
    --primary-500: #737373;
    --primary-600: #525252;
    --primary-700: #404040;
    --primary-800: #262626;
    --primary-900: #171717;
    --primary-950: #0a0a0a;

    --primary-50: #fafafa;
    --primary-100: #f5f5f5;
    --primary-200: #e5e5e5;
    --primary-300: #d4d4d4;
    --primary-400: #a3a3a3;
    --primary-500: #737373;
    --primary-600: #525252;
    --primary-700: #404040;
    --primary-800: #262626;
    --primary-900: #171717;
    --primary-950: #0a0a0a;

    --error-50: #fcf2f2;
    --error-100: #f9e3e2;
    --error-200: #f6cccb;
    --error-300: #f0a9a7;
    --error-400: #e77975;
    --error-500: #dd524c;
    --error-600: #ca3a31;
    --error-700: #aa2e26;
    --error-800: #8c2822;
    --error-900: #752522;
    --error-950: #3f0f0d;

    --warning-50: #fefbed;
    --warning-100: #fcf3cc;
    --warning-200: #fef0c7;
    --warning-300: #f9e796;
    --warning-400: #f2c14b;
    --warning-500: #e9a23b;
    --warning-600: #cc7c2e;
    --warning-700: #a85923;
    --warning-800: #88451d;
    --warning-900: #70391a;
    --warning-950: #401d09;

    --success-50: #effcf5;
    --success-100: #d9f9e6;
    --success-200: #b8f1d2;
    --success-300: #8ee4ba;
    --success-400: #6ad09d;
    --success-500: #55b685;
    --success-600: #43946c;
    --success-700: #347659;
    --success-800: #295e48;
    --success-900: #214d3c;
    --success-950: #0f2b23;

    --aPrimary-50: #fafafa03;
    --aPrimary-100: #f5f5f506;
    --aPrimary-200: #e5e5e512;
    --aPrimary-300: #d4d4d416;
    --aPrimary-400: #a3a3a324;
    --aPrimary-500: #73737336;
    --aPrimary-600: #52525248;
    --aPrimary-700: #40404064;
    --aPrimary-800: #26262672;
    --aPrimary-900: #17171780;
    --aPrimary-950: #0a0a0a88;

    --aError-50: #fcf2f203;
    --aError-100: #f9e3e206;
    --aError-200: #f6cccb12;
    --aError-300: #f0a9a716;
    --aError-400: #e7797524;
    --aError-500: #dd524c36;
    --aError-600: #ca3a3148;
    --aError-700: #aa2e2664;
    --aError-800: #8c282272;
    --aError-900: #75252280;
    --aError-950: #3f0f0d88;

    --aWarning-50: #fefbed03;
    --aWarning-100: #fcf3cc06;
    --aWarning-200: #fef0c712;
    --aWarning-300: #f9e79616;
    --aWarning-400: #f2c14b24;
    --aWarning-500: #e9a23b36;
    --aWarning-600: #cc7c2e48;
    --aWarning-700: #a8592364;
    --aWarning-800: #88451d72;
    --aWarning-900: #70391a80;
    --aWarning-950: #401d0988;

    --aSuccess-50: #effcf503;
    --aSuccess-100: #d9f9e606;
    --aSuccess-200: #b8f1d212;
    --aSuccess-300: #8ee4ba16;
    --aSuccess-400: #6ad09d24;
    --aSuccess-500: #55b68536;
    --aSuccess-600: #43946c48;
    --aSuccess-700: #34765964;
    --aSuccess-800: #295e4872;
    --aSuccess-900: #214d3c80;
    --aSuccess-950: #0f2b2388;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f9;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1a9;
    --zinc-500: #717179;
    --zinc-600: #52525a;
    --zinc-700: #3f3f45;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #f3f4f6;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --stone-50: #fafaf9;
    --stone-100: #f5f5f4;
    --stone-200: #e7e5e4;
    --stone-300: #d5d3d1;
    --stone-400: #a7a29e;
    --stone-500: #77716d;
    --stone-600: #56534f;
    --stone-700: #43403c;
    --stone-800: #282524;
    --stone-900: #1b1917;
    --stone-950: #0c0a09;

    --red-50: #fcf2f2;
    --red-100: #f9e3e2;
    --red-200: #f6cccb;
    --red-300: #f0a9a7;
    --red-400: #e77975;
    --red-500: #dd524c;
    --red-600: #ca3a31;
    --red-700: #aa2e26;
    --red-800: #8c2822;
    --red-900: #752522;
    --red-950: #3f0f0d;

    --orange-50: #fef7ee;
    --orange-100: #fceed8;
    --orange-200: #f8d8b0;
    --orange-300: #f3bd74;
    --orange-400: #ed974f;
    --orange-500: #e87b35;
    --orange-600: #d9622b;
    --orange-700: #b34a22;
    --orange-800: #8e3b1f;
    --orange-900: #73321b;
    --orange-950: #3d170b;

    --amber-50: #fefbed;
    --amber-100: #fcf3cc;
    --amber-200: #f9e796;
    --amber-300: #f5d565;
    --amber-400: #f2c14b;
    --amber-500: #e9a23b;
    --amber-600: #cc7c2e;
    --amber-700: #a85923;
    --amber-800: #88451d;
    --amber-900: #70391a;
    --amber-950: #401d09;

    --yellow-50: #fefcea;
    --yellow-100: #fdf9c9;
    --yellow-200: #fcf097;
    --yellow-300: #f8e164;
    --yellow-400: #f3ce49;
    --yellow-500: #e2b53e;
    --yellow-600: #c18d30;
    --yellow-700: #986523;
    --yellow-800: #7d501f;
    --yellow-900: #6a411c;
    --yellow-950: #3d220c;

    --lime-50: #f8fee9;
    --lime-100: #effbd0;
    --lime-200: #dff8a7;
    --lime-300: #c9f078;
    --lime-400: #b1e457;
    --lime-500: #94ca42;
    --lime-600: #73a132;
    --lime-700: #587b27;
    --lime-800: #476121;
    --lime-900: #3c521e;
    --lime-950: #1f2d0c;

    --green-50: #f2fdf5;
    --green-100: #e2fbe8;
    --green-200: #c7f5d3;
    --green-300: #a0ecb1;
    --green-400: #77db89;
    --green-500: #5ec269;
    --green-600: #4ca154;
    --green-700: #3c7e44;
    --green-800: #306339;
    --green-900: #285231;
    --green-950: #122d18;

    --emerald-50: #effcf5;
    --emerald-100: #d9f9e6;
    --emerald-200: #b8f1d2;
    --emerald-300: #8ee4ba;
    --emerald-400: #6ad09d;
    --emerald-500: #55b685;
    --emerald-600: #43946c;
    --emerald-700: #347659;
    --emerald-800: #295e48;
    --emerald-900: #214d3c;
    --emerald-950: #0f2b23;

    --teal-50: #f2fdfa;
    --teal-100: #d5faf1;
    --teal-200: #aef4e4;
    --teal-300: #86e7d4;
    --teal-400: #68d1bf;
    --teal-500: #55b5a6;
    --teal-600: #439288;
    --teal-700: #35746e;
    --teal-800: #2b5d59;
    --teal-900: #254d4a;
    --teal-950: #122e2e;

    --cyan-50: #effdff;
    --cyan-100: #d7f9fd;
    --cyan-200: #b6f1fa;
    --cyan-300: #8ae5f6;
    --cyan-400: #64d0ea;
    --cyan-500: #51b3d0;
    --cyan-600: #418fae;
    --cyan-700: #34728d;
    --cyan-800: #2d5d73;
    --cyan-900: #274d61;
    --cyan-950: #163242;

    --sky-50: #f2f9fe;
    --sky-100: #e3f1fd;
    --sky-200: #c3e5fa;
    --sky-300: #91d1f8;
    --sky-400: #61baf3;
    --sky-500: #4aa3e3;
    --sky-600: #3882c2;
    --sky-700: #2c679c;
    --sky-800: #265881;
    --sky-900: #21496b;
    --sky-950: #142e47;

    --blue-50: #f0f6fe;
    --blue-100: #dee9fc;
    --blue-200: #c4dafb;
    --blue-300: #9dc4f8;
    --blue-400: #70a3f3;
    --blue-500: #4d80ee;
    --blue-600: #3562e3;
    --blue-700: #294dd0;
    --blue-800: #253fa9;
    --blue-900: #253985;
    --blue-950: #1a2551;

    --indigo-50: #eff2fe;
    --indigo-100: #e1e7fd;
    --indigo-200: #c9d2fa;
    --indigo-300: #a8b4f6;
    --indigo-400: #838cf1;
    --indigo-500: #6366e9;
    --indigo-600: #4d47dc;
    --indigo-700: #4039c2;
    --indigo-800: #36309d;
    --indigo-900: #302e7c;
    --indigo-950: #1d1b48;

    --violet-50: #f5f3fe;
    --violet-100: #ece9fc;
    --violet-200: #dcd6fb;
    --violet-300: #c1b6f8;
    --violet-400: #a38cf3;
    --violet-500: #845eee;
    --violet-600: #743fe4;
    --violet-700: #652dd1;
    --violet-800: #5426af;
    --violet-900: #2a1261;
    --violet-950: #2a1261;

    --purple-50: #f9f5fe;
    --purple-100: #f1e8fd;
    --purple-200: #e6d6fc;
    --purple-300: #d2b5f9;
    --purple-400: #b787f5;
    --purple-500: #9d59ef;
    --purple-600: #883be1;
    --purple-700: #742ac6;
    --purple-800: #6327a2;
    --purple-900: #512082;
    --purple-950: #360b60;

    --fuchsia-50: #fbf4fe;
    --fuchsia-100: #f7e9fd;
    --fuchsia-200: #efd1fb;
    --fuchsia-300: #e6aef7;
    --fuchsia-400: #da7ff2;
    --fuchsia-500: #c951e7;
    --fuchsia-600: #b135cc;
    --fuchsia-700: #952aa9;
    --fuchsia-800: #7b248a;
    --fuchsia-900: #672171;
    --fuchsia-950: #430b4b;

    --pink-50: #fbf2f8;
    --pink-100: #f8e8f2;
    --pink-200: #f4d1e7;
    --pink-300: #edacd2;
    --pink-400: #e479b3;
    --pink-500: #da5597;
    --pink-600: #c93b76;
    --pink-700: #ae2d5d;
    --pink-800: #90264d;
    --pink-900: #782243;
    --pink-950: #490f24;

    --rose-50: #fdf1f2;
    --rose-100: #fbe5e6;
    --rose-200: #f6cfd3;
    --rose-300: #f0a8b0;
    --rose-400: #ea7987;
    --rose-500: #e14f62;
    --rose-600: #cf364c;
    --rose-700: #ae2a3f;
    --rose-800: #92243b;
    --rose-900: #7d2038;
    --rose-950: #450d1a;
  }

  .dark {
    --base: #000000;
    --background: #000000;
    --foreground: #d2d5da;
    --link: #ffffff;
  }

  @layer base {
    * {
    }
    body {
      @apply bg-background text-foreground;
      font-family: TWKLausanne, system-ui, sans-serif;
      background-image: url('/images/background.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@layer components {
  .tooltip {
    @apply z-50 transition ease-in-out w-max max-w-[100vw-10px] backdrop-blur-md border box-border text-gray-200 bg-gray-950 border-slate-100/20 rounded-md px-2.5 py-1 space-y-1 text-xs font-medium shadow-md shadow-black/5 ring-1 ring-black/5;
  }
  .lausanne {
    @apply font-lausanne;
  }

  .glassmorphic {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  }

  html {
    @apply bg-background;
  }

  @layer utilities {
    @keyframes scroll-text {
      0% {
        transform: translateX(0%);
      }
      90% {
        transform: translateX(-100%);
      }
      95% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    .scroll-text {
      animation: scroll-text 7s linear infinite;
    }
    .hover\:scroll-text:hover {
      animation: scroll-text 7s linear infinite;
    }
    .focus\:scroll-text:focus {
      animation: scroll-text 7s linear infinite;
    }
  }
}
